body 
{background-color:tan;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
body
{
text-align: center;
}
h1
{
background-color: rgb(61, 66, 219);
padding: 20px}
div.box
{
height: 300px;
width: 300px;
background-color: aliceblue;
}
p
{
height: 75%;
width: 75%;
background-color: aliceblue;
}
p
{
text-align: center;
}
img.large
{
display: block;
margin: 20px auto
}
img.large
{
height: 550px;
width: 550px;
}
h2
{
font-weight: bold;
}
img.medium
{
display: block;
margin: 20px auto
}
img.medium
{
height: 500px;
width: 700px;
}




