body 
{background-color:tan;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
h1
{text-align: center;
background-color: rgb(61, 66, 219);
padding: 20px}
h2
{text-align: center;
}
div.box
{
height: 300px;
width: 300px;
background-color: aliceblue;
}
p
{
height: 75%;
width: 75%;
background-color: aliceblue;
}
p
{
text-align: center;
padding: 20px
}
img.aling-center
{
display: block;
margin: 0px auto
}
img.medium
{
height: 300px;
width: 300px;
}




